* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #0f172a;
  color: #e5e7eb;
}

a {
  color: #38bdf8;
  text-decoration: none;
}
a:hover {
  transform: translateY(-8px) scale(1.02);
  box-shadow: 0px 15px 30px rgba(56, 189, 248, 0.15);;
}

.hero {
  text-align: center;
  padding: 80px 20px;
  background: linear-gradient(135deg, #020617, #0f172a);

}

.hero h1 {
  font-size: 40px;
}

.hero p {
  margin: 10px 0;
  color: #94a3b8;
}
.hero  .profile-pic {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 15px;
  object-fit: cover;
  cursor: pointer;
  border: 4px solid #38bdf8;
  image-rendering: auto;
  backface-visibility: hidden;
  transform: translateZ(0);
  filter: contrast(1.05) saturate(1.1);
}
.profile-pic:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(56, 189, 248, 0.2);
}
.profile-pic.zoomed {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(2.5);
    z-index: 1000;
}


.links a {
  margin: 0 10px;
}

section {
  padding: 60px 20px;
  max-width: 900px;
  margin: auto;
}

h2 {
  margin-bottom: 20px;
  color: #38bdf8;
}

.skills ul {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.skills li {
  background: #1e293b;
  padding: 10px 15px;
  border-radius: 6px;
}

.projects {
  display: grid;
  gap: 20px;
}

.project {
  background: #020617;
  padding: 20px;
  border-radius: 8px;
}

.project-links a {
  margin-right: 15px;
}

footer {
  text-align: center;
  padding: 20px;
  color: #64748b;
}
.fade-in {
  animation: fadeIn 1.2s ease-in-out forwards;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.reveal {
  opacity: 0;
  transform: translateY(40px);
  transition: 0.8s ease;
}
.reveal.active {
  opacity: 1;
  transform: translateY(0);
}
.hover-card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.hover-card:hover {
  transform: translateY(-8px) scale(1.02);
  box-shadow: 0 15px 30px rgba(56, 189, 248, 0.15);

}
.typing{
    font-size: 18px;
    color: #94a3b8;
}
#typing-text::after {
    content: "|";
    margin-left: 5px;
    animation: blink 1s infinite;
}
@keyframes blink {
    50% { opacity: 0; }
}
@media (max-width: 1024px) {
  .hero h1 {
    font-size: 36px;
  }
  .projects {
    grid-template-columns: repeat(2, 1fr); /* 2 columns on tablets */
  }
}

/* Mobile */
@media (max-width: 640px) {
  .hero {
    padding: 60px 15px;
  }
  .hero h1 {
    font-size: 28px;
  }
  section {
    padding: 40px 15px;
  }
  .skills ul {
    flex-direction: column;
    gap: 10px;
  }
  .projects {
    grid-template-columns: 1fr; /* 1 column on mobile */
  }
  .project {
    padding: 15px;
  }
}

